*{
    padding:0;
    margin:0;
}
a{
    display:inline-block;
    text-decoration:none;
}
ul{
    list-style-type:none;
}
/*轮播图*/
#slider{
    width:1200px; height:400px;
    position:relative;
    margin:30px auto;
  }
  #slider>img{
    position:absolute; top:0; left:0;
    opacity:0;  
  }
  #slider>img.show{  opacity:1;  }
/*轮播图*/
/*标题栏*/
.sbj_title{
    text-align:center;
    margin-top:30px;
}
.sbj_title h2{
    padding:10px;
    color:rgb(199, 91, 109);
}
.sbj_title span{
    font-size:0.9rem;
    margin-left:1%;
}
#showBig{
    animation:fn 1s;
}
@keyframes fn{
    0%{
        transform:scale(1.5) 
    }
    100%{
        transform:scale(1.0)
    }
}
/*标题栏*/
/*中间小图*/
.sbj_smallp{
    width:100%;
    text-align:center;
    margin-top:6rem;
}
.sbj_smallp2 {
    width:1200px;
    height:220px; 
    margin:0 auto;
}
.sbj_smallp2 h3{
    color:red;
    letter-spacing: 4px;
    margin-left:21px;
    text-align:left;
    margin-bottom: 15px;
}
.sbj_smallp2 h5{
    margin-top:10px;
    letter-spacing: 3px;
}
.sbj_smallp2 ul li{
    float:left;
    width:126px;
    height:200px;
}
.sbj_smallp2 p{
    font-size:0.9rem;
    margin-top:10px;
}
.sbj_smallp2 ul li a img{
    margin-top:30px;
    transition:0.5s;
}
.sbj_smallp2 a img:hover{
    transform:scale(1.1,1.1) translateY(5px);
}
/*中间小图*/
/*中间大图1*/
.sbj_bigphoto{
    position:relative; 
    text-align:center;
    width:1400px;
    margin:0 auto;
}
.sbj_big1{
    width:800px;
    height:431px;
    background:url(img/ring.png)no-repeat;
    position: absolute;
    right:0px;
    top:0px;
}
.sbj_titleone{
    width:300px;
    margin-top:30px;
    margin-bottom: 30px;
    margin-left:100px;
}
.sbj_titleone p{
    color:#b8b8b8;
}
.gold{
    width:305px;
    height:55px;
    padding-top:33px;
    font-size:1.25rem;
    position:absolute;
    top:251px;
    left:145px;
    background:url(img/line1.png);
}
.img_lin4{
    width:197px;
    height:98px;
    margin-left:95px;
    margin-right:20px;
    background:url(img/line4.png);
}
/*中间大图1*/
/*中间大图2*/
.big_photo{
   display: flex;
   justify-content:center;
   width:1200px;
   margin:0 auto;
   margin-top:60px;
}
.sbj_bigone{
    width:380px;
    height:403px;
    transition:1s;
    background:url(img/renqi.png)no-repeat;
}
.sbj_bigone:hover{
    transform:scale(1.1,1.1);
}
.sbj_bigtwo{
    width:380px;
    height:403px;
    margin-left:20px;
    transition:1s;
    background:url(img/youhui.png)no-repeat;
}
.sbj_bigtwo:hover{
    transform:scale(1.1,1.1);
}
.sbj_bigthree{
    width:380px;
    height:403px;
    margin-left:20px;
    transition:1s;
    background:url(img/new.png)no-repeat;
}
.sbj_bigthree:hover{
    transform:scale(1.1,1.1);
}
.sbj_bigtitle{
    text-align:center;
    margin-top:245px;
    color:#fff;
}
.sbj_bigtitle p{
    font-size:1.2rem;
}
.sbj_bigtitle a{
    margin-top:1rem;
    width:120px;
    height:30px;
    color:#fff;
    font-size:0.9rem;
    line-height:30px;
    border:1px solid #fff;
}
.sbj_bigtitle a:hover{
    color:#fff;
}
/*中间大图2*/
/*尾部大图*/
.sbj_footer{
    width:100%;
    height:506px;
    margin:0 auto;
    position:relative;
    z-index: 9;
    margin-top:50px;
    margin-bottom: 100px;
    text-align:center;
    border-top:1px solid #fff;
    background:url(img/20.png)no-repeat;
}
.sbj_footer1{
    width:500px;
    margin:0 auto;
    margin-top:7%;
    color:#fff;
}
.sbj_footer1 p{
    margin-top:20px;
    font-size:1.2rem;
}
.sbj_footer1 h6{
    margin-top:10px;
    margin-bottom:15px;
}
.sbj_footer2{
    width:1400px;
    color:#fff;
    margin-top:60px;
    font-size:0.9rem;
}
.sbj_footer3{
    width:1400px;
    margin:0 auto;
}
/*尾部大图*/
